<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frozencode.placeguessr">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_geo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAQJG9JK0xpqFIfH97YJQ6euw0MG2czQw" />

        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseGameModeActivity"
            android:label="Choose Game Mode"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StreetViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SummaryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MultiplayerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MultiplayerGameActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
